<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <meta name="Description" content="Site to share personal projects related to travel, mountain and photography.">
  <meta name="Keywords" lang="ca,en" content="viatges,fotografia,muntanya,asia,travel,solo travel,photography,mountain,finland,scandinavia">
  <meta name="Author" content="Sandra Marcos Bonet">
  <meta name="Copyright" content="© Sandra Marcos Bonet">
  <meta name="DC.Title" content="Clarobscur: fotografia i viatges">
  <meta name="DC.Creator" content="Marcos Bonet, Sandra">
  <meta name="DC.Subject" content="viatges,fotografia,muntanya,asia,travel,solo travel,photography,mountain,finland,scandinavia">
  <meta name="DC.Description" content="Site to share personal projects related to travel, mountain and photography.">
  <meta name="DC.Publisher" content="Sandra Marcos Bonet">
  <meta name="DC.Date" content="2019.02.10">
  <meta name="DC.Type" content="Text.Article">
  <meta name="DC.Format" content="Text/html">
  <meta name="DC.Language" content="ca,en">
  <meta name="DC.Rights" content="Sandra Marcos Bonet">
 
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  {%- feed_meta -%}
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
</head>
